.button
{
    -fx-background-color: transparent;
    -fx-border-color: gray;
    -fx-font-family: Arial;
    -fx-text-fill: black;
}

.scroll-pane{
    -fx-background-color: transparent;
}

.scroll-pane .viewport{
    -fx-background-color: transparent;
}